<ng-container>
  <div>
    <h1 class="text-center text-primary">{{ title }}</h1>
    <img
      width="300"
      height="300"
      class="img-fluid my-4 mx-auto d-block"
      [src]="imageLink"
      alt="image"
    />
    <div class="container">
      <div class="row mb-3">
        <div class="col-md-10">
          <input
            type="text"
            class="form-control mb-2"
            placeholder="Add New Task"
            [(ngModel)]="nawTaskItem"
          />
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary w-100" (click)="addTask()">Add Task</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table  table-hover text-center">
            <thead class="table-info">
              <tr>
                <th scope="col">No</th>
                <th scope="col">Item</th>
                <th scope="col">Edit</th>
                <th scope="col">Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr ngFor="let task of tasksList">
                <th scope="row">1</th>
                <td>fff</td>
                <td><button type="button" class="btn btn-info">Edit</button></td>
                <td><button type="button" class="btn btn-danger">Remove</button></td>
              </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-container>
